.main_header{

  margin-top: 20%;
  margin-left: 15%;

  display: flex;
  flex-direction: column;
}
.main_header_title{
  background-color: #17b3ef;
  font-size: 5em;
}
.main_discription{
  font-size: 2em;
}
.rule_content{
  display: grid;
}