

@font-face {
    font-family: Itim Cyrillic; /* Гарнитура шрифта */
    src: url(../fonts/11988.otf); /* Путь к файлу со шрифтом */
}
body{
    margin: 0;
    padding: 0;
    width: 100%;



}

* {
    font-family: Itim Cyrillic;
}
.word_list{
    margin-top: 10px;
    color: black;
    font-size: 2.3em;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.word_item{
margin-top: 10px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns:repeat(2,1fr);
    justify-self: center;

}
.word_list_eng{
   width: 500px;
    text-align: center;
    padding: 3px 10px;
    background-color: #e03366 ;
    word-wrap: break-word;

}
.word_list_rus{
    width: 500px;
    padding: 3px 10px;
    text-align: center;
    background-color: #2aa9e0;
    word-wrap: break-word;
}
.word_list_rus:first-letter{
    text-transform: uppercase;
}
.word_list_eng:first-letter{
    text-transform: uppercase;
}
#checkbox_fields{
    display: flex;
    flex-direction: column;
   font-size: 20px;
}
.filter{
    display: none;
    padding: 20px;

}


#search_word{
    font-size: 25px;
    margin-top: 30px;
    margin-left: calc(98% - 260px);
    width: 200px;
    text-align: center;
}

.filtrbtn{
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    margin-left: calc(98% - 120px);

}



@media all and (max-width : 1000px) {




    .word_item {
        grid-template-columns:repeat(1,1fr);
        background-color: #e03366;
        border-radius: 10px;
    }
}
@media all and (max-width : 500px) {

    .word_list_eng, .word_list_rus{
        width: 100vw;
    }

}