#library .grid{
    margin: 10px auto;
    display: grid;
    width: 80%;
    grid-gap: 10px;
    grid-template-columns: repeat(5, 1fr);
}
#library .grid_item{
    border: 2px solid black;
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px;


}
#library .bg_film{
    background-image: url("../img/films.jpg");
}
#library .bg_text{
    background-image: url("../img/papers.jpg");
}
#library .bg_game{
    background-image: url("../img/gamepad.png");
}
#library .bg_rule{
    background-image: url("../img/rule.jpg");
}
#library .bg_dict{
    background-image: url("../img/dictionary2.jpg");
}

#library hr{
    color: black;
}