
.randomLabel{
    margin: 10px auto;
    padding: 5px;
    font-size: 1em;
    text-align: center;
    display: block;
    width: 100px;
    background-color: #2aa9e0 ;
    box-shadow: 0 2px 5px rgb(0, 0, 0);
}

.randomizer input:checked ~ .randomLabel {

    background-color: #e03366;
}
.randomLabel:hover{
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.16);
}

.randomizer input{
    display: none;
}